@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --rosa: #F279AA;
    --rosaFraco: #361824;
    --roxo: #9C93EC;
    --roxoClaro: #bcb5ff;
    --verde: #50ED57;
    --amarelo: #F1FA8C;
    --branco: #FFFFFF;
    --marrom: #9C5233;
    --cinza: #6C6A6A;

    --backescuro: #101013;
    --backclaro: #191A21;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Cascadia Code', sans-serif;
}

/* HEADER */

.section_intro {
    background-color: var(--backescuro);
}

.header_intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backescuro);
    position: fixed;
    z-index: 2;
    width: 100%;
    opacity: .9;
}

.header_div_favi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_favicon {
    height: 45px;
}

.header-p {
    font-size: 20px;
    margin: 20px;
    color: var(--rosa);
}

.header-li {
    display: flex;
    flex-direction: row;
    color: var(--roxo);
    font-size: 20px;
}

a {
    color: inherit;
}

.header-li li {
    margin: 10px 20px 10px 20px;
}

.overflow {
    overflow: hidden;
}

.margin_li {
    height: 1px;
    width: 100%;
    background-color: var(--roxo);
    transform: translateX(100%);
    transition: all .5s ease;
}

.overflow:hover .margin_li {
    transform: translateX(0);
}


/* INTRODUÇÃO */

.main-intro {
    background: linear-gradient(var(--backclaro), var(--backescuro)90%);
    padding-top: 70px;

}

h1 {
    text-align: center;
    padding-top: 30px;
    line-height: 50px;
    font-size: 30px;
    color: var(--branco);
}

.div_h1 {
    font-size: 0px;
    height: 130px;
}

.div-image {
    position: relative;
}

.image_myself {
    filter: drop-shadow(0px 0px 10px var(--roxo));
    animation: filterScale 1s ease infinite alternate;
}

@keyframes filterScale {

    from {
        filter: drop-shadow(0px 0px 13px var(--roxo));
    }

    to {
        filter: drop-shadow(0px 0px 20px var(--roxo));
    }
}

.image_svg_right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    right: 0;
    top: 33%;
    position: absolute;
}

.image_svg_bottom {
    display: flex;
    gap: 25px;
    position: absolute;
    top: 85%;
    right: 35%;
}

.section-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.typewriter {
    color: var(--branco);
    font-size: 20px;
}

/* posicionando e estilizando as string do objeto */

.ap_p {
    width: 955px;
    font-size: 30px;
    line-height: 52px;
    color: var(--branco);
}

.ap-tab {
    margin-left: 60px;
}

.ap-doubletab {
    margin-left: 110px;
    color: var(--branco);
}

.ap-const {
    color: var(--rosa);
}

.ap-yellow {
    color: var(--amarelo);
}

.ap-purple {
    color: var(--roxo);
}

.ap-key {
    color: var(--marrom);
}

/* SOBRE MIM: */


.about_me {
    background: linear-gradient(var(--backescuro), var(--rosaFraco), var(--backclaro));
}

.sections_h2 {
    font-size: 30px;
    color: var(--branco);
    text-align: center;
    padding: 50px;
}

.div_about_fa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div_about_me {
    width: 700px;
    font-size: 0px;
}

.div_about_me p {
    margin-top: 20px;
    color: var(--branco);
    word-spacing: 10px;
    font-size: 28px;
}

.div_firstcode p {
    text-align: center;
    color: var(--cinza);
}

/* HABILIDADES */

.my_skills {
    background-color: var(--backclaro);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article_skills {
    display: flex;
    /* background-color: #4b5079; */
    width: 90%;
    height: 250px;
    margin: 0 auto;
}

.div_image {
    width: 450px;
    text-align: center;
}

.article_description_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.article_description_name h3 {
    font-size: 36px;
    color: var(--branco);
}

.article_description_name p {
    color: var(--branco);
    font-size: 26px;
    max-width: 1200px;
}


/* EM APRENDIZADO: */

.article_coming {
    margin-bottom: 50px;
}

.div_comming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

/* MEUS PROJETOS */

.ID_section_projects {
    background-color: var(--backescuro);
    text-align: center;
}


.project_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: 400px;
    overflow: hidden;
    transition: all 2s ease;
}

.project_div_all img {
    height: 215px;
}

.project_div_all {
    height: 400px;
    width: 500px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--roxo) 2px;
    border-radius: 3px;
    background-color: var(--backclaro);
    filter: drop-shadow(0px 0px 4px var(--roxo));
    overflow: hidden;
}

.project_content {
    width: 450px;
    text-align: left;
}


.project_card_p_t {
    font-size: 35px;
    color: var(--branco);
    margin-bottom: 60px;
    text-align: center;
}

.project_card_shadow_articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project_card_p,
.project_card_p_2 {
    font-size: 22px;
    color: var(--verde);
    transition: all .3s ease;

}

.project_card_p:hover,
.project_card_p_2:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px var(--verde));
}

.project_content h4 {
    font-size: 25px;
    color: var(--verde);
    margin-top: 5px;
}

.project_content p {
    font-size: 15px;
    color: var(--roxoClaro);
    margin-top: 5px;
}

.project_card_shadow {
    background-color: rgba(25, 26, 33, .9);
    width: 100%;
    height: 100%;
    position: absolute;
    /* transform: translateY(100%); */
    transition: all .2s ease;
    opacity: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_content_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 15px;
}

.project_border {
    height: 1px;
    width: 100%;
    background-color: white;
}

.project_div_all:hover .project_card_shadow {
    /* transform: translateY(0%); */
    opacity: 1;
}

.buttonSeeMore {
    font-size: 16px;
    padding: 5px;
    color: var(--verde);
    background-color: transparent;
    border: 1px solid var(--verde);
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    transition: all .3s ease;
}

.buttonSeeMore:hover {
    filter: drop-shadow(0px 0px 5px var(--verde));

}

/* MEUS CERTIFICADOS */

.section_certificates {
    background-color: var(--backescuro);
}

.certificates_div {
    width: 60%;
    gap: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.article_certificades {
    filter: drop-shadow(0px 0px 4px var(--roxo));
    background-color: var(--backclaro);
    border: 2px solid var(--roxo);
    padding: 10px;
    width: 330px;
    border-radius: 5px;
}

.article_certificades div:nth-child(1) {
    height: 80px;
}

.article_tittle {
    color: var(--verde);
    font-size: 25px;
}

.article_div_p p {
    color: var(--roxo);
    margin-top: 3px;
}

.article_span {
    color: var(--branco);
}
.article_att {
    font-size: 10px;
}

.article_certif {
    color: var(--amarelo);
    text-align: center;
    padding: 6px 3px 3px 3px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.article_certif:hover {
    color: var(--rosa);
}