@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --rosa: #F279AA;
    --rosaFraco: #361824;

    --roxo: #9C93EC;
    --verde: #50ED57;
    --amarelo: #F1FA8C;
    --branco: #FFFFFF;
    --marrom: #9C5233;
    --cinza: #6C6A6A;

    --backescuro: #101013;
    --backclaro: #191A21;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Cascadia Code', sans-serif;
}

/* HEADER */

.section_intro {
    background-color: var(--backescuro);
}

.header_intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-p {
    font-size: 20px;
    margin: 20px;
    color: var(--rosa);
}

.header-li {
    display: flex;
    flex-direction: row;
    color: var(--roxo);
    font-size: 20px;
}

.header-li li {
    margin: 20px;
}

/* INTRODUÇÃO */

.main-intro {
    background: linear-gradient(var(--backclaro), var(--backescuro)90%);

}

h1 {
    text-align: center;
    padding-top: 30px;
    line-height: 50px;
    font-size: 30px;
    color: var(--branco);
}

.div_h1 {
    font-size: 0px;
}

.section-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.typewriter {
    color: var(--branco);
    font-size: 20px;
}

/* posicionando e estilizando as string do objeto */
.ap_p {
    width: 955px;
    font-size: 30px;
    line-height: 52px;
    color: var(--branco);
}

.ap-tab {
    margin-left: 60px;
}

.ap-doubletab {
    margin-left: 110px;
    color: var(--branco);
}

.ap-const {
    color: var(--rosa);
}

.ap-yellow {
    color: var(--amarelo);
}

.ap-purple {
    color: var(--roxo);
}

.ap-key {
    color: var(--marrom);
}

/* SOBRE MIM: */


.about_me {
    background: linear-gradient(var(--backescuro), var(--rosaFraco), var(--backclaro));
}

.about_me h2,
.my_skills h2 {
    font-size: 30px;
    color: var(--branco);
    text-align: center;
    padding: 50px;
}

.div_about_fa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div_about_me {
    width: 700px;
    font-size: 28px;
}

.div_about_me p {
    margin-top: 20px;
    color: var(--branco);
    word-spacing: 10px;
}

.div_firstcode p {
    text-align: center;
    color: var(--cinza);
}

/* HABILIDADES */

.my_skills {
    background-color: var(--backclaro);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article_skills {
    display: flex;
    /* background-color: #4b5079; */
    width: 90%;
    height: 250px;
    margin: 0 auto;
}

.div_image {
    width: 450px;
    text-align: center;
}

.article_description_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.article_description_name h3 {
    font-size: 36px;
    color: var(--branco);
}

.article_description_name p {
    color: var(--branco);
    font-size: 26px;
    max-width: 1200px;
}


/* EM APRENDIZADO: */

.article_coming {}

.div_comming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

